<include file="Public:header" />
<title>修改字典</title>
</head>
<body>
<div class="page-container">
    <form action="{:U('dictionary/saveDictionary')}" method="post" class="form form-horizontal" id="form-user-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                父级分类名称：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" value="{$list_data.p_name}" placeholder="" id=d_name" name="d_name" readonly>
                <input type="hidden" name="id" value="{$list_data.id}">
                <input type="hidden" name="d_level" value="{$level}">
                <input type="hidden" name="p_id" value="{$id}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                字典代码：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" value="{$list_data.code}" placeholder="" id="d_code" name="d_code">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                字典值：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" value="{$list_data.value}" placeholder="" id="d_value" name="d_value">
            </div>
        </div>
        <div class="row cl">
            <div class="col-9 col-offset-2">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</div>
<include file="Public:footer" />
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{$Think.const.HUI_ADMIN_LIB}jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="{$Think.const.HUI_ADMIN_LIB}jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="{$Think.const.HUI_ADMIN_LIB}jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
    $(function(){

    });
</script>
</body>
</html>