<include file="Public:header"/>
<title>字典管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 字典管理 <span class="c-gray en">&gt;</span> 字典编辑 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<table class="table">
    <tr>
        <td width="200" class="va-t"><ul id="treeDemo" class="ztree"></ul></td>
        <td class="va-t"><iframe ID="testIframe" Name="testIframe" FRAMEBORDER=0 SCROLLING=AUTO width=100%  height=390px SRC="{:U(editdictionary, [id => $id])}"></iframe></td>
    </tr>
</table>

<include file="Public:footer" />
<script type="text/javascript" src="{$Think.const.HUI_ADMIN_LIB}zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript">
    var setting = {
        view: {
            dblClickExpand: false,
            showLine: false,
            selectedMulti: false
        },
        data: {
            simpleData: {
                enable:true,
                idKey: "id",
                pIdKey: "pId",
                rootPId: ""
            }
        },
        callback: {
            beforeClick: function(treeId, treeNode) {
                var zTree = $.fn.zTree.getZTreeObj("tree");
                if (treeNode.isParent) {
                    var test = '{:U("editdictionary")}';
                    test = test.replace(/\.html/, '') + "/id/" + treeNode.id +  "/name/" + treeNode.name + "/level/" + treeNode.level;
                    demoIframe.attr("src",test);
                    console.log(test);
                    return false;
                } else {
                    var test = '{:U("editdictionary")}';
                    if (!treeNode.pId) {
                        treeNode.pId = 0;
                    }
                    test = test.replace(/\.html/, '') + "/id/" + treeNode.id + "/pid/" + treeNode.pId + "/name/" + treeNode.name + "/level/" + treeNode.level;
                    demoIframe.attr("src",test);
                    console.log(test);
                    return true;
                }
            }
        }
    };

    var objectNodes = {};
    var zNodes =[

    ];

    <foreach name="list_data" item="vo" key="k">
    objectNodes.id = {$vo['id']};
    objectNodes.pId = {$vo['parent']};
    objectNodes.name = "{$vo['value']}";
    zNodes.push(objectNodes);
    objectNodes = {};
    </foreach>
    var code;

    function showCode(str) {
        if (!code) code = $("#code");
        code.empty();
        code.append("<li>"+str+"</li>");
    }

    $(document).ready(function(){
        var t = $("#treeDemo");
        t = $.fn.zTree.init(t, setting, zNodes);
        demoIframe = $("#testIframe");
        //demoIframe.on("load", loadReady);
        var zTree = $.fn.zTree.getZTreeObj("tree");
        //zTree.selectNode(zTree.getNodeByParam("id",'11'));
    });
</script>
</body>
</html>