<include file="Public:header" />
    <title>字典列表</title>
</head>
<body>
<div class="page-container">
    <div class="text-c">
        <input type="text" name="code" id="code" placeholder=" 字典代码" style="width:120px" class="input-text">
        <input type="text" name="value" id="value" placeholder=" 字典值" style="width:120px" class="input-text">
        <input type="text" name="level" id="level" placeholder="层级" style="width:120px" class="input-text">
        <button name="check" id="d_check" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜字典</button>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="delAll()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a class="btn btn-primary radius" onclick="dictionary_add('添加字典','{:U('Dictionary/index')}', '', '450')", href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加字典</a></span> <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="40"><input name="ids" type="checkbox" value=""></th>
                <th width="80">ID</th>
                <th width="100">分类名称</th>
                <th width="100">字典代码</th>
                <th width="150">字典值</th>
                <th width="80">等级</th>
                <th width="150">创建时间</th>
                <th width="60">状态</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody>
            <foreach name="list" item="vo" key="k">
            <tr class="text-c">
                <td><input name="array_ids" type="checkbox" value="{$vo['id']}"></td>
                <td>{$k + 1}</td>
                <td>{$vo['category']}</td>
                <td class="text-c">{$vo['code']}</td>
                <td class="text-c">{$vo['value']}</td>
                <td>{$vo['level']}</td>
                <td>{$vo['createtime']}</td>
                <td class="td-status"><eq name="vo.isactive" value="1"><span class="label label-success radius">已发布</span><else/><span class="btn btn-danger radius">已删除</span></eq></td>
                <td class="td-manage"><a style="text-decoration:none" class="ml-5" onClick="dictionary_edit('字典编辑','{:U('Dictionary/editdictionary', [id=>$vo['id']])}', '', '450')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5" onClick="delDictionary({$vo['id']})" href="javascript:;" title="删除" ><i class="Hui-iconfont">&#xe6e2;</i></a></td>
            </tr>
            </foreach>
            </tbody>
        </table>
    </div>
</div>

<include file="Public:footer" />

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{$Think.const.HUI_ADMIN_LIB}My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="{$Think.const.HUI_ADMIN_LIB}datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{$Think.const.HUI_ADMIN_LIB}laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    $('.table-sort').dataTable({
        "aaSorting": [[ 1, "desc" ]],//默认第几个排序
        "bStateSave": true,//状态保存
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
            {"orderable":false,"aTargets":[0,8]}// 制定列不参与排序
        ]
    });

    /*字典-添加*/
    function dictionary_add(title,url,w,h){
        layer_show(title,url,w,h);
    }

    /*字典-编辑*/
    function dictionary_edit(title,url,w,h){
        layer_show(title,url,w,h);
    }
    /**
     * 获取checkbox的值
     */

    function getCheckBoxValues() {
        var id_array = new Array();
        $('input[name="array_ids"]:checked').each(function () {
            id_array.push($(this).val());
        })

        var id_string = id_array.join(',');
        delAjax(id_string);
    }

    /*字典--批量删除*/
    function delAll() {
        getCheckBoxValues();
    }

    /**
     * 调用批量删除的ajax接口请求
     */
    function delAjax(ids) {
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                type: 'POST',
                url: "{:U('dictionary/delDictionaries')}",
                dataType: 'json',
                data: {
                    'ids': ids
                },
                success: function (data) {
                    console.log(data.data);
                    if (data.code === 200) {
                        layer.msg('已删除!', {icon: 1, time: 1000});
                        location.replace(location.href);
                    } else {
                        layer.msg(data.msg, {icon: 1, time: 1000});
                    }
                },
                error: function (data) {
                    console.log(data);
                    console.log(data.msg);
                },
            });
        });
    }

        /**
         * 调用删除字典的ajax接口请求
         */
        function delDictionary(id) {
            layer.confirm('确认要删除吗？', function (index) {
                $.ajax({
                    type: 'POST',
                    url: "{:U('dictionary/delDictionary')}",
                    dataType: 'json',
                    data: {
                        'id': id
                    },
                    success: function (data) {
                        console.log(data.data);
                        if (data.code === 200) {
                            layer.msg('已删除!', {icon: 1, time: 1000});
                            location.replace(location.href);
                        } else {
                            layer.msg(data.msg, {icon: 1, time: 1000});
                        }
                    },
                    error: function (data) {
                        console.log(data);
                        console.log(data.msg);
                    },
                });
            });
        }
</script>
</body>
</html>